* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin: 1rem;
}

h2 {
    font-size: 2rem;
}

button {
    border: none;
    background-color: blue;
    color: white;
    font-size: 24px;
    border-radius: 10px;
    padding: .5rem 1rem
    
}

button:hover{
    cursor: pointer;
    opacity: .7;
}

.top-bar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.current-player {
    display: flex;
    justify-content: center;
}

#player {
    height: 0;
    width: 0;
    border-radius: 40px;
    vertical-align: middle;
    background-color: red;
    border: solid .1rem black;
    margin-left: 10px;
    padding: 1rem;
}


.game-board {
    margin-top: 1rem;
    display: grid;
    width: auto;
    grid-template-columns: repeat(7,1fr);
}




.game-board-column {
    display: grid;
    width: auto;
    grid-template-rows: repeat(6,1fr);
    background-color: blue;
    grid-template-areas: 
    " f " " e " " d " " c " " b " " a ";
}

.game-board-column:hover{opacity: 0.7;}

.game-board-circle {
    background-color: white;
    border-radius: 50%;
    margin: auto;
    padding: 3rem;
    margin-top: 2%;
    margin-bottom: 2%;
}

.game-board-circle:nth-child(1) {grid-area: a;}
.game-board-circle:nth-child(2) {grid-area: b;}
.game-board-circle:nth-child(3) {grid-area: c;}
.game-board-circle:nth-child(4) {grid-area: d;}
.game-board-circle:nth-child(5) {grid-area: e;}
.game-board-circle:nth-child(6) {grid-area: f;}

@media screen and (max-width: 700px) {
        html {
            font-size: 14px;
        }
}

@media screen and (max-width: 650px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 550px) {
    html {
        font-size: 10px;
    }
}

@media screen and (max-width: 400px) {
    html {
        font-size: 8px;
    }
}
